.container {
  width: 100%;
  height: auto;
  display: flex;
  margin: auto;

  overflow-x: hidden;

  header {
    nav {
      width: 100%;
      background-color: #f1f1f1;

      @media screen and (max-width: 720px) {
      }
      ul {
        list-style: none;
        float: left;

        @media screen and (max-width: 720px) {
          display: grid;
          grid-template-columns: 1fr;

          width: 100vw;
          background-color: white;
        }

        li {
          position: relative;
          float: left;

          @media screen and (max-width: 720px) {
            float: right;
            display: none;

            &.item {
              display: inline;
            }
          }

          a {
            color: #333;
            text-decoration: none;
            padding: 1rem 2rem;
            display: block;

            font-weight: 800;

            &:hover {
              color: #04aa6d;
            }
          }
          &:first-child {
            background-color: #04aa6d;

            @media screen and (max-width: 720px) {
              display: flex;
              justify-content: flex-end;
            }

            a {
              color: white;

              &:hover {
                background-color: #04aa6d;
              }
            }
          }
        }

        .mobileMenu {
          display: none;

          @media screen and (max-width: 720px) {
            display: inline;
            width: 100%;

            button {
              color: #333;
              text-decoration: none;
              padding: 1rem 2rem;
              display: block;

              border: none;

              font-size: 18px;

              font-weight: 800;

              cursor: pointer;

              &:hover {
                color: rgb(41, 135, 31);
              }
            }
          }
        }
      }
    }
    img {
      width: 100vw;
      height: 60vh;

      @media screen and (max-width: 720px) {
        height: 200px;
      }
    }
  }
}
