.container {
  width: 100%;
  height: auto;
  display: flex;
  margin: auto;

  overflow-x: hidden;

  header {
    nav {
      width: 100%;
      background-color: #f1f1f1;
      ul {
        list-style: none;
        float: left;
        li {
          position: relative;
          float: left;
          a {
            color: #333;
            text-decoration: none;
            padding: 1rem 2rem;
            display: block;

            font-weight: 800;

            &:hover {
              color: rgb(41, 135, 31);
            }
          }
          &:first-child {
            background-color: rgb(41, 135, 31);
            a {
              color: white;

              &:hover {
                background-color: rgb(45, 72, 42);
              }
            }
          }
        }
      }
    }
    img {
      width: 100vw;
      height: 60vh;

      @media screen and (max-width: 720px) {
        height: 200px;
      }
    }
  }
}
